<!doctype html>
<html ng-app="mainApp">
<head>
<meta charset="utf-8">
<title>Test Demo</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />

 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="json/json-data.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 

</head>

<body>
	
<div class="main_conatiner">

    <div class="mainNavigation" ng-controller="navController"> 
        <ul>
            <li ng-repeat="navList in navdata">
                {{navList.navName}}
                <ul>
                    <li ng-repeat="dropdownList in navList.dropdown">
                        {{dropdownList.dropDownName}}   
                          
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>


</body>
</html>
